Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

remove default backend
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

ugh
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

ugh
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

ugh
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

ugh
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

re-enable geoip
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

re-enable geoip
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

re-enable geoip
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

re-enable geoip
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

use official talos icon
  README.md
Labels: area/docs

use official talos icon
  README.md
Labels: area/docs

use official talos icon
  README.md
Labels: area/docs

use official talos icon
  README.md
Labels: area/docs

Add Volsync group to groups.json5
  .github/renovate/groups.json5
Labels: area/github

Add Volsync group to groups.json5
  .github/renovate/groups.json5
Labels: area/github

Add Volsync group to groups.json5
  .github/renovate/groups.json5
Labels: area/github

Add Volsync group to groups.json5
  .github/renovate/groups.json5
Labels: area/github

fix: downgrade volsync to 0.8.0
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: downgrade volsync to 0.8.0
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: downgrade volsync to 0.8.0
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: downgrade volsync to 0.8.0
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

some yaml stuff
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

some yaml stuff
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

some yaml stuff
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

some yaml stuff
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

woops
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

woops
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

woops
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

woops
  clusters/dextek/system/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update docker.io/timberio/vector ( 0.36.1 → 0.37.0 )…"
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update docker.io/timberio/vector ( 0.36.1 → 0.37.0 )…" (#141)
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update docker.io/timberio/vector ( 0.36.1 → 0.37.0 )…" (#141)
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update docker.io/timberio/vector ( 0.36.1 → 0.37.0 )…" (#141)
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update docker.io/timberio/vector ( 0.36.1 → 0.37.0 )…" (#141)
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update labeler.yml
  .github/workflows/labeler.yml
Labels: area/github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: area/github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: area/github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: area/github

Update helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
