Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Add new worker node "ms01-03.k8s.plexuz.xyz" to Talos configuration
  .taskfiles/Talos/Tasks.yaml
  hack/disk-wipe/disk-wipe-ms01-03.yaml
Labels: area/taskfile

Add new worker node "ms01-03.k8s.plexuz.xyz" to Talos configuration
  .taskfiles/Talos/Tasks.yaml
  hack/disk-wipe/disk-wipe-ms01-03.yaml
Labels: area/taskfile

Add new worker node "ms01-03.k8s.plexuz.xyz" to Talos configuration
  .taskfiles/Talos/Tasks.yaml
  hack/disk-wipe/disk-wipe-ms01-03.yaml
Labels: area/taskfile

Add new worker node "ms01-03.k8s.plexuz.xyz" to Talos configuration
  .taskfiles/Talos/Tasks.yaml
  hack/disk-wipe/disk-wipe-ms01-03.yaml
Labels: area/taskfile

remove gha runners from jotunheim
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
  clusters/jotunheim/apps/actions-runner-system/app/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/app/secrets.sops.yaml
  clusters/jotunheim/apps/actions-runner-system/ks.yaml
  clusters/jotunheim/apps/actions-runner-system/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/namespace.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

remove gha runners from jotunheim
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
  clusters/jotunheim/apps/actions-runner-system/app/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/app/secrets.sops.yaml
  clusters/jotunheim/apps/actions-runner-system/ks.yaml
  clusters/jotunheim/apps/actions-runner-system/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/namespace.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

remove gha runners from jotunheim
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
  clusters/jotunheim/apps/actions-runner-system/app/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/app/secrets.sops.yaml
  clusters/jotunheim/apps/actions-runner-system/ks.yaml
  clusters/jotunheim/apps/actions-runner-system/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/namespace.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

remove gha runners from jotunheim
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
  clusters/jotunheim/apps/actions-runner-system/app/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/app/secrets.sops.yaml
  clusters/jotunheim/apps/actions-runner-system/ks.yaml
  clusters/jotunheim/apps/actions-runner-system/kustomization.yaml
  clusters/jotunheim/apps/actions-runner-system/namespace.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
  clusters/jotunheim/apps/actions-runner-system/runners/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

downgrade radarr
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade radarr
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade radarr
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade radarr
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

remove rack servers
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

remove rack servers
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

remove rack servers
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

remove rack servers
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

downgrade talos
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

downgrade talos
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

downgrade talos
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

downgrade talos
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

downgrade talos 2
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade talos 2
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade talos 2
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade talos 2
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade talos 3
  hack/talos-upgrade.sh
Labels: none

downgrade talos 3
  hack/talos-upgrade.sh
Labels: none

downgrade talos 3
  hack/talos-upgrade.sh
Labels: none

downgrade talos 3
  hack/talos-upgrade.sh
Labels: none

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update talosPatches/config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform
