Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

chore: Remove unused environment variable in externalsecret.yaml
  clusters/dextek/apps/default/homepage/users/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

chore: Remove unused environment variable in externalsecret.yaml
  clusters/dextek/apps/default/homepage/users/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

chore: Remove unused environment variable in externalsecret.yaml
  clusters/dextek/apps/default/homepage/users/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

chore: Remove unused environment variable in externalsecret.yaml
  clusters/dextek/apps/default/homepage/users/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/krezh/config.yaml
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/krezh/config.yaml
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/krezh/config.yaml
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/homepage/krezh/config.yaml
  clusters/dextek/apps/default/homepage/users/config.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add doppler txt
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

add doppler txt
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

add doppler txt
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

add doppler txt
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

chore: Update cloudflare_record resource name to "doppler"
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

chore: Update cloudflare_record resource name to "doppler"
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

chore: Update cloudflare_record resource name to "doppler"
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

chore: Update cloudflare_record resource name to "doppler"
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

Update kustomization.yaml
  clusters/dextek/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update kustomization.yaml
  clusters/dextek/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/dextek
