Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Update Docker step to inspect image instead of pulling
  .github/workflows/flux-image-test.yaml
Labels: area/github

add probes to plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add probes to plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add probes to plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add probes to plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

convert plex to deployment
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

convert plex to deployment
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

convert plex to deployment
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

convert plex to deployment
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

disable probes for plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

disable probes for plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

disable probes for plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

disable probes for plex
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update timeout value in loki helmrelease.yaml
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update timeout value in loki helmrelease.yaml
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update timeout value in loki helmrelease.yaml
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update timeout value in loki helmrelease.yaml
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update cloudnative-pg ( 0.20.2 → 0.21.0 ) (#347)"
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update cloudnative-pg ( 0.20.2 → 0.21.0 ) (#347)" (#348)
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update cloudnative-pg ( 0.20.2 → 0.21.0 ) (#347)" (#348)
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update cloudnative-pg ( 0.20.2 → 0.21.0 ) (#347)" (#348)
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update cloudnative-pg ( 0.20.2 → 0.21.0 ) (#347)" (#348)
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update bridge ports and VLANs configuration
  infrastructure/terraform/routeros/bridge_ports.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

Update bridge ports and VLANs configuration
  infrastructure/terraform/routeros/bridge_ports.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

Update bridge ports and VLANs configuration
  infrastructure/terraform/routeros/bridge_ports.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

Update bridge ports and VLANs configuration
  infrastructure/terraform/routeros/bridge_ports.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

Update VLAN configuration in config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update VLAN configuration in config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update VLAN configuration in config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Update VLAN configuration in config-patch.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

Remove iDRAC tasks from Taskfile.yaml
  .taskfiles/Idrac/Tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

Remove iDRAC tasks from Taskfile.yaml
  .taskfiles/Idrac/Tasks.yaml
  Taskfile.yaml
Labels: area/taskfile
