Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

Update GitHub deploy key and known hosts*** ***Add endpoint for Karma service monitor
  clusters/dextek/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update GitHub deploy key and known hosts*** ***Add endpoint for Karma service monitor
  clusters/dextek/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update GitHub deploy key and known hosts*** ***Add endpoint for Karma service monitor
  clusters/dextek/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update widget keys in helmrelease.yaml files
  clusters/dextek/apps/default/homepage/app/externalsecret.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/dextek

Update widget keys in helmrelease.yaml files
  clusters/dextek/apps/default/homepage/app/externalsecret.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/dextek

Update widget keys in helmrelease.yaml files
  clusters/dextek/apps/default/homepage/app/externalsecret.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/dextek

Update Kubernetes and Talos badges
  README.md
Labels: area/docs

Update Kubernetes and Talos badges
  README.md
Labels: area/docs

Update Kubernetes and Talos badges
  README.md
Labels: area/docs

Update Kubernetes and Talos badges
  README.md
Labels: area/docs

Update publish-schemas.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

Update publish-schemas.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

Update publish-schemas.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

Update publish-schemas.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

Revert "fix(terraform): update http ( 3.4.1 → 3.4.2 ) (#9)"
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "fix(terraform): update http ( 3.4.1 → 3.4.2 ) (#9)" (#21)
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "fix(terraform): update http ( 3.4.1 → 3.4.2 ) (#9)" (#21)
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "fix(terraform): update http ( 3.4.1 → 3.4.2 ) (#9)" (#21)
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "fix(terraform): update http ( 3.4.1 → 3.4.2 ) (#9)" (#21)
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "feat(terraform): update local ( 2.4.1 → 2.5.0 ) (#12)"
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "feat(terraform): update local ( 2.4.1 → 2.5.0 ) (#12)" (#26)
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "feat(terraform): update local ( 2.4.1 → 2.5.0 ) (#12)" (#26)
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "feat(terraform): update local ( 2.4.1 → 2.5.0 ) (#12)" (#26)
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Revert "feat(terraform): update local ( 2.4.1 → 2.5.0 ) (#12)" (#26)
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update provider versions in Terraform configuration
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Update provider versions in Terraform configuration
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Update provider versions in Terraform configuration
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Update provider versions in Terraform configuration
  infrastructure/terraform/talos/.terraform.lock.hcl
  infrastructure/terraform/talos/providers.tf
Labels: area/terraform

Add monitoring configuration and node maintenance window
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add monitoring configuration and node maintenance window
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add monitoring configuration and node maintenance window
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add monitoring configuration and node maintenance window
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
