Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

chore: Update replicas for homepage
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update replicas for homepage
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "chore: Update replicas for homepage"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "chore: Update replicas for homepage"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "chore: Update replicas for homepage"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "chore: Update replicas for homepage"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/gethomepage/homepage ( v0.8.13 → v0.9.0 ) (#564)"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/gethomepage/homepage ( v0.8.13 → v0.9.0 ) (#564)"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/gethomepage/homepage ( v0.8.13 → v0.9.0 ) (#564)"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/gethomepage/homepage ( v0.8.13 → v0.9.0 ) (#564)"
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add pod-selector for homepage
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add pod-selector for homepage
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add pod-selector for homepage
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add pod-selector for homepage
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update pod-selector for homepage
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update pod-selector for homepage
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update pod-selector for homepage
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update pod-selector for homepage
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

move pikvm to servers
  clusters/dextek/apps/default/homepage/krezh/config.yaml
Labels: area/kubernetes, cluster/dextek

move pikvm to servers
  clusters/dextek/apps/default/homepage/krezh/config.yaml
Labels: area/kubernetes, cluster/dextek

move pikvm to servers
  clusters/dextek/apps/default/homepage/krezh/config.yaml
Labels: area/kubernetes, cluster/dextek

move pikvm to servers
  clusters/dextek/apps/default/homepage/krezh/config.yaml
Labels: area/kubernetes, cluster/dextek

move to dragonfly
  clusters/dextek/apps/auth/authelia/app/config/configuration.yaml
  clusters/dextek/apps/auth/authelia/app/externalsecret.yaml
  clusters/dextek/apps/immich/app/externalsecret.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

move to dragonfly
  clusters/dextek/apps/auth/authelia/app/config/configuration.yaml
  clusters/dextek/apps/auth/authelia/app/externalsecret.yaml
  clusters/dextek/apps/immich/app/externalsecret.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

move to dragonfly
  clusters/dextek/apps/auth/authelia/app/config/configuration.yaml
  clusters/dextek/apps/auth/authelia/app/externalsecret.yaml
  clusters/dextek/apps/immich/app/externalsecret.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

move to dragonfly
  clusters/dextek/apps/auth/authelia/app/config/configuration.yaml
  clusters/dextek/apps/auth/authelia/app/externalsecret.yaml
  clusters/dextek/apps/immich/app/externalsecret.yaml
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update labeler-sync.yaml
  .github/workflows/labeler-sync.yaml
Labels: area/github

Update labeler-sync.yaml
  .github/workflows/labeler-sync.yaml
Labels: area/github

Update labeler-sync.yaml
  .github/workflows/labeler-sync.yaml
Labels: area/github

Update labeler-sync.yaml
  .github/workflows/labeler-sync.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

Update todo.yaml
  .github/workflows/todo.yaml
Labels: area/github

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
