Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "increase retention"
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "increase retention"
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "increase retention"
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "increase retention"
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

increase retention
  clusters/dextek/system/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update Renovate badge logo in README.md
  README.md
Labels: area/docs

chore: Update Renovate badge logo in README.md
  README.md
Labels: area/docs

chore: Update Renovate badge logo in README.md
  README.md
Labels: area/docs

chore: Update Renovate badge logo in README.md
  README.md
Labels: area/docs

Update variables.tf
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

Update variables.tf
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

Update variables.tf
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

Update variables.tf
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

Revert "feat(container): update immich group ( v1.108.0 → v1.109.0 ) (#832)"
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update immich group ( v1.108.0 → v1.109.0 ) (#832)" (#835)
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update immich group ( v1.108.0 → v1.109.0 ) (#832)" (#835)
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update immich group ( v1.108.0 → v1.109.0 ) (#832)" (#835)
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update immich group ( v1.108.0 → v1.109.0 ) (#832)" (#835)
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add valkey
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/databases/valkey/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/dextek

add valkey
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/databases/valkey/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/dextek

add valkey
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/databases/valkey/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/dextek

add valkey
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/databases/valkey/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/dextek

fix valkey
  clusters/dextek/apps/databases/valkey/app/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/app/kustomization.yaml
  clusters/dextek/apps/databases/valkey/ks.yaml
Labels: area/kubernetes, cluster/dextek

fix valkey
  clusters/dextek/apps/databases/valkey/app/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/app/kustomization.yaml
  clusters/dextek/apps/databases/valkey/ks.yaml
Labels: area/kubernetes, cluster/dextek

fix valkey
  clusters/dextek/apps/databases/valkey/app/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/app/kustomization.yaml
  clusters/dextek/apps/databases/valkey/ks.yaml
Labels: area/kubernetes, cluster/dextek

fix valkey
  clusters/dextek/apps/databases/valkey/app/helmrelease.yaml
  clusters/dextek/apps/databases/valkey/app/kustomization.yaml
  clusters/dextek/apps/databases/valkey/ks.yaml
Labels: area/kubernetes, cluster/dextek

update mikrotik exporter
  .github/renovate/packageRules.json5
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek

update mikrotik exporter
  .github/renovate/packageRules.json5
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek

update mikrotik exporter
  .github/renovate/packageRules.json5
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek

update mikrotik exporter
  .github/renovate/packageRules.json5
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek

Delete openunison-default.yaml
  openunison-default.yaml
Labels: none

Delete openunison-default.yaml
  openunison-default.yaml
Labels: none

Delete openunison-default.yaml
  openunison-default.yaml
Labels: none
