Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

chore: update PROWLARR__POSTGRES__MAINDB
  clusters/dextek/apps/downloads/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

chore: update PROWLARR__POSTGRES__MAINDB
  clusters/dextek/apps/downloads/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/dextek

chore: update prowlarr to include http port for app service
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update prowlarr to include http port for app service
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update prowlarr to include http port for app service
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update prowlarr to include http port for app service
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update .sops.yaml
  .sops.yaml
Labels: none

Update .sops.yaml
  .sops.yaml
Labels: none

Update .sops.yaml
  .sops.yaml
Labels: none

Update .sops.yaml
  .sops.yaml
Labels: none

Revert "feat(terraform): update cloudflare ( 4.34.0 → 4.35.0 ) (#639)"
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Revert "feat(terraform): update cloudflare ( 4.34.0 → 4.35.0 ) (#639)" (#643)
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Revert "feat(terraform): update cloudflare ( 4.34.0 → 4.35.0 ) (#639)" (#643)
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Revert "feat(terraform): update cloudflare ( 4.34.0 → 4.35.0 ) (#639)" (#643)
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Revert "feat(terraform): update cloudflare ( 4.34.0 → 4.35.0 ) (#639)" (#643)
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

fix(reloader): use OCI helm repo
  clusters/dextek/flux/repositories/helm/staketer.yaml
  clusters/jotunheim/flux/repositories/helm/staketer.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

fix(reloader): use OCI helm repo
  clusters/dextek/flux/repositories/helm/staketer.yaml
  clusters/jotunheim/flux/repositories/helm/staketer.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

fix(reloader): use OCI helm repo
  clusters/dextek/flux/repositories/helm/staketer.yaml
  clusters/jotunheim/flux/repositories/helm/staketer.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

fix(reloader): use OCI helm repo
  clusters/dextek/flux/repositories/helm/staketer.yaml
  clusters/jotunheim/flux/repositories/helm/staketer.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

fix(cilium): remove deprecated containerRuntime
  clusters/dextek/bootstrap/cilium/values.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix(cilium): remove deprecated containerRuntime
  clusters/dextek/bootstrap/cilium/values.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix(cilium): remove deprecated containerRuntime
  clusters/dextek/bootstrap/cilium/values.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix(cilium): remove deprecated containerRuntime
  clusters/dextek/bootstrap/cilium/values.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.0.1 → 8.0.2 ) (#649)"
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.0.1 → 8.0.2 ) (#649)"
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.0.1 → 8.0.2 ) (#649)"
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.0.1 → 8.0.2 ) (#649)"
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update memory limits for multus app
  clusters/dextek/system/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update memory limits for multus app
  clusters/dextek/system/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update memory limits for multus app
  clusters/dextek/system/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update memory limits for multus app
  clusters/dextek/system/kube-system/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update get_osd_pods.sh script to use bash shebang
  hack/get_osd_pods.sh
Labels: none

chore: update get_osd_pods.sh script to use bash shebang
  hack/get_osd_pods.sh
Labels: none

chore: update get_osd_pods.sh script to use bash shebang
  hack/get_osd_pods.sh
Labels: none

chore: update get_osd_pods.sh script to use bash shebang
  hack/get_osd_pods.sh
Labels: none

Revert "fix(helm): update cloudnative-pg ( 0.21.4 → 0.21.5 ) (#655)"
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cloudnative-pg ( 0.21.4 → 0.21.5 ) (#655)"
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cloudnative-pg ( 0.21.4 → 0.21.5 ) (#655)"
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cloudnative-pg ( 0.21.4 → 0.21.5 ) (#655)"
  clusters/dextek/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
