Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Remove iDRAC tasks from Taskfile.yaml
  .taskfiles/Idrac/Tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

Remove iDRAC tasks from Taskfile.yaml
  .taskfiles/Idrac/Tasks.yaml
  Taskfile.yaml
Labels: area/taskfile

Update DHCP server configuration in dhcp_server.tf
  infrastructure/terraform/routeros/dhcp_server.tf
Labels: area/terraform

Update DHCP server configuration in dhcp_server.tf
  infrastructure/terraform/routeros/dhcp_server.tf
Labels: area/terraform

Update DHCP server configuration in dhcp_server.tf
  infrastructure/terraform/routeros/dhcp_server.tf
Labels: area/terraform

Update DHCP server configuration in dhcp_server.tf
  infrastructure/terraform/routeros/dhcp_server.tf
Labels: area/terraform

Update deployment strategy for Loki gateway to Recreate
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update deployment strategy for Loki gateway to Recreate
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update deployment strategy for Loki gateway to Recreate
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update deployment strategy for Loki gateway to Recreate
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update DNS host override for pikvm in opnsense
  infrastructure/terraform/opnsense/dns_host_overrides.tf
Labels: area/terraform

Update DNS host override for pikvm in opnsense
  infrastructure/terraform/opnsense/dns_host_overrides.tf
Labels: area/terraform

Update DNS host override for pikvm in opnsense
  infrastructure/terraform/opnsense/dns_host_overrides.tf
Labels: area/terraform

Update DNS host override for pikvm in opnsense
  infrastructure/terraform/opnsense/dns_host_overrides.tf
Labels: area/terraform

Update PiKVM configuration in homepage app
  clusters/dextek/apps/default/homepage/app/config.yaml
Labels: area/kubernetes, cluster/dextek

Update PiKVM configuration in homepage app
  clusters/dextek/apps/default/homepage/app/config.yaml
Labels: area/kubernetes, cluster/dextek

Update PiKVM configuration in homepage app
  clusters/dextek/apps/default/homepage/app/config.yaml
Labels: area/kubernetes, cluster/dextek

Update PiKVM configuration in homepage app
  clusters/dextek/apps/default/homepage/app/config.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(terraform): update doppler ( 1.7.0 → 1.7.1 ) (#381)"
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "fix(terraform): update doppler ( 1.7.0 → 1.7.1 ) (#381)" (#385)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "fix(terraform): update doppler ( 1.7.0 → 1.7.1 ) (#381)" (#385)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "fix(terraform): update doppler ( 1.7.0 → 1.7.1 ) (#381)" (#385)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "fix(terraform): update doppler ( 1.7.0 → 1.7.1 ) (#381)" (#385)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Add pikvm to blackbox-exporter
  clusters/dextek/system/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add pikvm to blackbox-exporter
  clusters/dextek/system/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add pikvm to blackbox-exporter
  clusters/dextek/system/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Add pikvm to blackbox-exporter
  clusters/dextek/system/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

disable nut-client
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

disable nut-client
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

disable nut-client
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

disable nut-client
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update nut-exporter dashboard
  clusters/dextek/system/monitoring/nut-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

Update variables.tf
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform
