Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Update helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update mac_addr in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update mac_addr in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update mac_addr in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update mac_addr in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Add ms01-02 to Talos cluster
  .taskfiles/Talos/Tasks.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/taskfile, area/terraform

Add ms01-02 to Talos cluster
  .taskfiles/Talos/Tasks.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/taskfile, area/terraform

Add ms01-02 to Talos cluster
  .taskfiles/Talos/Tasks.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/taskfile, area/terraform

Add ms01-02 to Talos cluster
  .taskfiles/Talos/Tasks.yaml
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/taskfile, area/terraform

Update cnpg cluster serverName from cnpg-v11 to cnpg-v12
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v11 to cnpg-v12
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v11 to cnpg-v12
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v11 to cnpg-v12
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update talos node configuration in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update talos node configuration in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update talos node configuration in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Update talos node configuration in terraform.tfvars
  infrastructure/terraform/talos/terraform.tfvars
Labels: area/terraform

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.1 ) (#268)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.1 ) (#268)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.1 ) (#268)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.1 ) (#268)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.1 ) (#270)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.1 ) (#270)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.1 ) (#270)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.1 ) (#270)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v12 to cnpg-v13
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v12 to cnpg-v13
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v12 to cnpg-v13
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v12 to cnpg-v13
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update rook-ceph group ( v1.14.0 → v1.14.1 ) (#288)"
  clusters/dextek/system/rook-ceph/app/helmrelease.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update rook-ceph group ( v1.14.0 → v1.14.1 ) (#288)" (#291)
  clusters/dextek/system/rook-ceph/app/helmrelease.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update rook-ceph group ( v1.14.0 → v1.14.1 ) (#288)" (#291)
  clusters/dextek/system/rook-ceph/app/helmrelease.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update rook-ceph group ( v1.14.0 → v1.14.1 ) (#288)" (#291)
  clusters/dextek/system/rook-ceph/app/helmrelease.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update rook-ceph group ( v1.14.0 → v1.14.1 ) (#288)" (#291)
  clusters/dextek/system/rook-ceph/app/helmrelease.yaml
  clusters/dextek/system/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
