Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

enable tetragon metrics
  clusters/dextek/system/kube-system/tetragon/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

enable tetragon metrics
  clusters/dextek/system/kube-system/tetragon/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: downgrade cloudnative-pg image version to v0.2.1
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

chore: downgrade cloudnative-pg image version to v0.2.1
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

chore: downgrade cloudnative-pg image version to v0.2.1
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

chore: downgrade cloudnative-pg image version to v0.2.1
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Update allowedVersions.json5
  .github/renovate/allowedVersions.json5
Labels: area/github

Revert "feat(helm): update kube-prometheus-stack ( 61.6.1 → 61.7.0 ) (#907)"
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 61.6.1 → 61.7.0 ) (#907)" (#908)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 61.6.1 → 61.7.0 ) (#907)" (#908)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 61.6.1 → 61.7.0 ) (#907)" (#908)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 61.6.1 → 61.7.0 ) (#907)" (#908)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update ghcr.io/authelia/authelia ( 4.38.9 → 4.38.10 )…"
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update ghcr.io/authelia/authelia ( 4.38.9 → 4.38.10 )…" (#919)
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update ghcr.io/authelia/authelia ( 4.38.9 → 4.38.10 )…" (#919)
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update ghcr.io/authelia/authelia ( 4.38.9 → 4.38.10 )…" (#919)
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update ghcr.io/authelia/authelia ( 4.38.9 → 4.38.10 )…" (#919)
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#927)"
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#927)" (#928)
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#927)" (#928)
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#927)" (#928)
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#927)" (#928)
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#926)"
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#926)" (#929)
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#926)" (#929)
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#926)" (#929)
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update reloader ( 1.0.119 → 1.0.120 ) (#926)" (#929)
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update loki ( 6.8.0 → 6.9.0 ) (#935)"
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update loki ( 6.8.0 → 6.9.0 ) (#935)" (#939)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update loki ( 6.8.0 → 6.9.0 ) (#935)" (#939)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update loki ( 6.8.0 → 6.9.0 ) (#935)" (#939)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update loki ( 6.8.0 → 6.9.0 ) (#935)" (#939)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update netdata ( 3.7.96 → 3.7.97 ) (#934)"
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
