Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

dont hardcode ips
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

dont hardcode ips
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

dont hardcode ips
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

use local storage for attic
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

use local storage for attic
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

use local storage for attic
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

use local storage for attic
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/config/server.toml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
  clusters/dextek/apps/default/attic/garbage-collector/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
  clusters/dextek/apps/default/attic/garbage-collector/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
  clusters/dextek/apps/default/attic/garbage-collector/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
  clusters/dextek/apps/default/attic/garbage-collector/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update replicas to 3 in apiserver deployment
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update replicas to 3 in apiserver deployment
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update replicas to 3 in apiserver deployment
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: update replicas to 3 in apiserver deployment
  clusters/dextek/apps/default/attic/apiserver/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: add nix-cache.plexuz.xyz to allowed paths in Cloudflare firewall
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/terraform

chore: add nix-cache.plexuz.xyz to allowed paths in Cloudflare firewall
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/terraform

chore: add nix-cache.plexuz.xyz to allowed paths in Cloudflare firewall
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/terraform

chore: add nix-cache.plexuz.xyz to allowed paths in Cloudflare firewall
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/terraform

chore: Add scrape config for Minio in kube-prometheus-stack
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

chore: Add scrape config for Minio in kube-prometheus-stack
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

chore: Add scrape config for Minio in kube-prometheus-stack
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

chore: Add scrape config for Minio in kube-prometheus-stack
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek, cluster/jotunheim

update configs
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/certificates/default-cert.yaml
  clusters/jotunheim/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/jotunheim/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/jotunheim

update configs
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/certificates/default-cert.yaml
  clusters/jotunheim/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/jotunheim/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/jotunheim

update configs
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/certificates/default-cert.yaml
  clusters/jotunheim/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/jotunheim/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/jotunheim

update configs
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/certificates/default-cert.yaml
  clusters/jotunheim/bootstrap/flux/github-deploy-key.sops.yaml
  clusters/jotunheim/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/jotunheim

fix target url
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
