Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Revert "fix(helm): update netdata ( 3.7.93 → 3.7.94 ) (#696)" (#697)
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update netdata/netdata ( v1.46.0 → v1.46.1 ) (#693)"
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update netdata/netdata ( v1.46.0 → v1.46.1 ) (#693)" (#698)
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update netdata/netdata ( v1.46.0 → v1.46.1 ) (#693)" (#698)
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update netdata/netdata ( v1.46.0 → v1.46.1 ) (#693)" (#698)
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(container): update netdata/netdata ( v1.46.0 → v1.46.1 ) (#693)" (#698)
  clusters/dextek/system/monitoring/netdata/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cluster.yaml
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

enable nut-ups
  clusters/dextek/system/kube-system/system-upgrade-controller/plans/talos.yaml
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/cp-patch.yaml
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/talosPatches/nut-patch.yaml
  infrastructure/terraform/talos/talosPatches/worker-patch.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

enable nut-ups
  clusters/dextek/system/kube-system/system-upgrade-controller/plans/talos.yaml
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/cp-patch.yaml
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/talosPatches/nut-patch.yaml
  infrastructure/terraform/talos/talosPatches/worker-patch.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

enable nut-ups
  clusters/dextek/system/kube-system/system-upgrade-controller/plans/talos.yaml
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/cp-patch.yaml
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/talosPatches/nut-patch.yaml
  infrastructure/terraform/talos/talosPatches/worker-patch.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

enable nut-ups
  clusters/dextek/system/kube-system/system-upgrade-controller/plans/talos.yaml
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/cp-patch.yaml
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/talosPatches/nut-patch.yaml
  infrastructure/terraform/talos/talosPatches/worker-patch.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

archive talup for later
  .archive/talup/app/config.yaml
  .archive/talup/app/helmrelease.yaml
  .archive/talup/app/kustomization.yaml
  .archive/talup/app/rbac.yaml
  .archive/talup/ks.yaml
  .archive/talup/kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

archive talup for later
  .archive/talup/app/config.yaml
  .archive/talup/app/helmrelease.yaml
  .archive/talup/app/kustomization.yaml
  .archive/talup/app/rbac.yaml
  .archive/talup/ks.yaml
  .archive/talup/kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

archive talup for later
  .archive/talup/app/config.yaml
  .archive/talup/app/helmrelease.yaml
  .archive/talup/app/kustomization.yaml
  .archive/talup/app/rbac.yaml
  .archive/talup/ks.yaml
  .archive/talup/kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

archive talup for later
  .archive/talup/app/config.yaml
  .archive/talup/app/helmrelease.yaml
  .archive/talup/app/kustomization.yaml
  .archive/talup/app/rbac.yaml
  .archive/talup/ks.yaml
  .archive/talup/kustomization.yaml
  clusters/dextek/system/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update ks.yaml
  clusters/dextek/system/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/dextek

Update ks.yaml
  clusters/dextek/system/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/dextek

Update ks.yaml
  clusters/dextek/system/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/dextek

Update ks.yaml
  clusters/dextek/system/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/dextek

Delete clusters/dextek/system/kube-system/cilium/netpols directory
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-minio.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/default-allow-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kube-system-allow-all.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Delete clusters/dextek/system/kube-system/cilium/netpols directory
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-minio.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/default-allow-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kube-system-allow-all.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Delete clusters/dextek/system/kube-system/cilium/netpols directory
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-minio.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/default-allow-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kube-system-allow-all.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Delete clusters/dextek/system/kube-system/cilium/netpols directory
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-minio.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-egress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-internet.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-lan.yaml
  clusters/dextek/system/kube-system/cilium/netpols/allow-ingress-world.yaml
  clusters/dextek/system/kube-system/cilium/netpols/default-allow-kubedns.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kube-system-allow-all.yaml
  clusters/dextek/system/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Update lychee.yaml
  .github/workflows/lychee.yaml
Labels: area/github

Update lychee.yaml
  .github/workflows/lychee.yaml
Labels: area/github

Update lychee.yaml
  .github/workflows/lychee.yaml
Labels: area/github

Update lychee.yaml
  .github/workflows/lychee.yaml
Labels: area/github

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
  clusters/dextek/system/monitoring/kromgo/ks.yaml
  clusters/dextek/system/monitoring/kromgo/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
  clusters/dextek/system/monitoring/kromgo/ks.yaml
  clusters/dextek/system/monitoring/kromgo/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
  clusters/dextek/system/monitoring/kromgo/ks.yaml
  clusters/dextek/system/monitoring/kromgo/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
  clusters/dextek/system/monitoring/kromgo/ks.yaml
  clusters/dextek/system/monitoring/kromgo/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

feat: deploy kromgo
  clusters/dextek/system/monitoring/kromgo/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

update readme
  README.md
Labels: area/docs

update readme
  README.md
Labels: area/docs
