Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

Update helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 57.1.1 → 57.2.0 ) (#140)"
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 57.1.1 → 57.2.0 ) (#140)" (#158)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 57.1.1 → 57.2.0 ) (#140)" (#158)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 57.1.1 → 57.2.0 ) (#140)" (#158)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update kube-prometheus-stack ( 57.1.1 → 57.2.0 ) (#140)" (#158)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9…"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#138)"
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#138)"
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#138)"
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#138)"
  clusters/jotunheim/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#137)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#137)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#137)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set-controller ( 0.8.3 → 0.9.0 ) (#137)"
  clusters/dextek/apps/actions-runner-system/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#135)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#135)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#135)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#135)"
  clusters/dextek/apps/actions-runner-system/runners/containers.yaml
  clusters/dextek/apps/actions-runner-system/runners/dextek.yaml
  clusters/dextek/apps/actions-runner-system/runners/dots.yaml
  clusters/dextek/apps/actions-runner-system/runners/renovate-config.yaml
  clusters/dextek/apps/actions-runner-system/runners/talup.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#136)"
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#136)"
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#136)"
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(container): update gha-runner-scale-set ( 0.8.3 → 0.9.0 ) (#136)"
  clusters/jotunheim/apps/actions-runner-system/runners/dextek-jotunheim.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "feat(terraform): update routeros ( 1.42.0 → 1.43.0 ) (#167)"
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "feat(terraform): update routeros ( 1.42.0 → 1.43.0 ) (#167)" (#168)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "feat(terraform): update routeros ( 1.42.0 → 1.43.0 ) (#167)" (#168)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "feat(terraform): update routeros ( 1.42.0 → 1.43.0 ) (#167)" (#168)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "feat(terraform): update routeros ( 1.42.0 → 1.43.0 ) (#167)" (#168)
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/providers.tf
Labels: area/terraform

Revert "feat(helm): update matrix-synapse ( 3.8.4 → 3.9.0 ) (#179)"
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update matrix-synapse ( 3.8.4 → 3.9.0 ) (#179)" (#182)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update matrix-synapse ( 3.8.4 → 3.9.0 ) (#179)" (#182)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update matrix-synapse ( 3.8.4 → 3.9.0 ) (#179)" (#182)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(helm): update matrix-synapse ( 3.8.4 → 3.9.0 ) (#179)" (#182)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/element-hq/synapse ( v1.103.0 → v1.10…"
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/element-hq/synapse ( v1.103.0 → v1.10…" (#186)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/element-hq/synapse ( v1.103.0 → v1.10…" (#186)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/element-hq/synapse ( v1.103.0 → v1.10…" (#186)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Revert "feat(container): update ghcr.io/element-hq/synapse ( v1.103.0 → v1.10…" (#186)
  clusters/dextek/apps/default/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/dextek

Update app replicas to 1
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
