Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

chore: update comments for interfaces in routeros configuration
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  infrastructure/terraform/routeros/interfaces.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

chore: update comments for interfaces in routeros configuration
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  infrastructure/terraform/routeros/interfaces.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

chore: update comment for VLAN200 in routeros bridge_vlans.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

chore: update comment for VLAN200 in routeros bridge_vlans.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

chore: update comment for VLAN200 in routeros bridge_vlans.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

chore: update comment for VLAN200 in routeros bridge_vlans.tf
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

fix comment
  infrastructure/terraform/routeros/interface_bridge.tf
Labels: area/terraform

fix comment
  infrastructure/terraform/routeros/interface_bridge.tf
Labels: area/terraform

fix comment
  infrastructure/terraform/routeros/interface_bridge.tf
Labels: area/terraform

fix comment
  infrastructure/terraform/routeros/interface_bridge.tf
Labels: area/terraform

Revert "fix(helm): update grafana ( 8.2.0 → 8.2.2 ) (#741)"
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.2.0 → 8.2.2 ) (#741)" (#749)
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.2.0 → 8.2.2 ) (#741)" (#749)
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.2.0 → 8.2.2 ) (#741)" (#749)
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update grafana ( 8.2.0 → 8.2.2 ) (#741)" (#749)
  clusters/dextek/system/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update kube-prometheus-stack ( 61.1.0 → 61.1.1 ) (#742)"
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update kube-prometheus-stack ( 61.1.0 → 61.1.1 ) (#742)" (#750)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update kube-prometheus-stack ( 61.1.0 → 61.1.1 ) (#742)" (#750)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update kube-prometheus-stack ( 61.1.0 → 61.1.1 ) (#742)" (#750)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update kube-prometheus-stack ( 61.1.0 → 61.1.1 ) (#742)" (#750)
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add ingress to mktxp
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add ingress to mktxp
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add ingress to mktxp
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

add ingress to mktxp
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

feat(terraform): update routeros to version 1.55.0
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

feat(terraform): update routeros to version 1.55.0
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

feat(terraform): update routeros to version 1.55.0
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

feat(terraform): update routeros to version 1.55.0
  infrastructure/terraform/routeros/.terraform.lock.hcl
  infrastructure/terraform/routeros/bridge_vlans.tf
Labels: area/terraform

test
  clusters/dextek/apps/downloads/qbittorrent/app/externalsecret.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/externalsecret.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/externalsecret.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/externalsecret.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

remove vpn gateway
  clusters/dextek/apps/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

remove vpn gateway
  clusters/dextek/apps/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

remove vpn gateway
  clusters/dextek/apps/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

remove vpn gateway
  clusters/dextek/apps/vpn-gateway/kustomization.yaml
Labels: area/kubernetes, cluster/dextek
