Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*

update readme
  README.md
Labels: area/docs

update readme
  README.md
Labels: area/docs

add more
  README.md
Labels: area/docs

add more
  README.md
Labels: area/docs

add more
  README.md
Labels: area/docs

add more
  README.md
Labels: area/docs

test
  .github/workflows/flux-image-test.yaml
Labels: area/github

test
  .github/workflows/flux-image-test.yaml
Labels: area/github

test
  .github/workflows/flux-image-test.yaml
Labels: area/github

test
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

fix
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

fix
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

fix
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  infrastructure/terraform/cloudflare/firewall.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

Update README.md
  README.md
Labels: area/docs

remove some kromgo metrics
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/dextek

remove some kromgo metrics
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/dextek

remove some kromgo metrics
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/dextek

remove some kromgo metrics
  clusters/dextek/system/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/dextek

chore: disable kubeControllerManager and kubeScheduler in helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: disable kubeControllerManager and kubeScheduler in helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: disable kubeControllerManager and kubeScheduler in helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: disable kubeControllerManager and kubeScheduler in helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update Taskfile.yaml to include new machine_apply task
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/terraform.tfvars
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

chore: Update Taskfile.yaml to include new machine_apply task
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/terraform.tfvars
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

chore: Update Taskfile.yaml to include new machine_apply task
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/terraform.tfvars
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

chore: Update Taskfile.yaml to include new machine_apply task
  infrastructure/terraform/talos/Taskfile.yaml
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/general-patch.yaml
  infrastructure/terraform/talos/terraform.tfvars
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

chore: Add Prometheus exporter user to RouterOS configuration
  infrastructure/terraform/routeros/main.tf
Labels: area/terraform

chore: Add Prometheus exporter user to RouterOS configuration
  infrastructure/terraform/routeros/main.tf
Labels: area/terraform

chore: Add Prometheus exporter user to RouterOS configuration
  infrastructure/terraform/routeros/main.tf
Labels: area/terraform

chore: Add Prometheus exporter user to RouterOS configuration
  infrastructure/terraform/routeros/main.tf
Labels: area/terraform

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/ks.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/kustomization.yaml
  infrastructure/terraform/routeros/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/ks.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/kustomization.yaml
  infrastructure/terraform/routeros/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/ks.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/kustomization.yaml
  infrastructure/terraform/routeros/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/externalsecret.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/app/kustomization.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/ks.yaml
  clusters/dextek/system/monitoring/mikrotik-exporter/kustomization.yaml
  infrastructure/terraform/routeros/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

feat: add mikrotik exporter
  clusters/dextek/system/monitoring/mikrotik-exporter/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek
