Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#535)"
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#535)"
  clusters/dextek/system/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#536)"
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#536)"
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#536)"
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

Revert "fix(helm): update reloader ( 1.0.100 → 1.0.101 ) (#536)"
  clusters/jotunheim/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

feat: Enable force SSL redirect in ingress-nginx
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
  clusters/dextek/system/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

feat: Enable force SSL redirect in ingress-nginx
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
  clusters/dextek/system/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

feat: Enable force SSL redirect in ingress-nginx
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
  clusters/dextek/system/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

feat: Enable force SSL redirect in ingress-nginx
  clusters/dextek/system/ingress-nginx/external/helmrelease.yaml
  clusters/dextek/system/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update alertmanager.yaml for improved title formatting
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update alertmanager.yaml for improved title formatting
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update alertmanager.yaml for improved title formatting
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update alertmanager.yaml for improved title formatting
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/dextek

housekeeping
  clusters/jotunheim/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

housekeeping
  clusters/jotunheim/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

housekeeping
  clusters/jotunheim/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

housekeeping
  clusters/jotunheim/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, cluster/jotunheim

Update helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use eth3.100 instead of eth2.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use eth3.100 instead of eth2.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use eth3.100 instead of eth2.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use eth3.100 instead of eth2.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Remove net.ifnames=0 from Talos configuration
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

chore: Remove net.ifnames=0 from Talos configuration
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

chore: Remove net.ifnames=0 from Talos configuration
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

chore: Remove net.ifnames=0 from Talos configuration
  infrastructure/terraform/talos/main.tf
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
Labels: area/terraform

chore: Update net-attach-iot.yaml to use enp90s0.100 instead of eth3.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use enp90s0.100 instead of eth3.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use enp90s0.100 instead of eth3.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update net-attach-iot.yaml to use enp90s0.100 instead of eth3.100
  clusters/dextek/system/kube-system/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml
  clusters/dextek/system/external-dns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update replicas for homepage
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

chore: Update replicas for homepage
  clusters/dextek/apps/default/homepage/krezh/helmrelease.yaml
  clusters/dextek/apps/default/homepage/users/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
