Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

update smartctl dashboard
  clusters/dextek/system/monitoring/smartctl-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update smartctl dashboard
  clusters/dextek/system/monitoring/smartctl-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update smartctl dashboard
  clusters/dextek/system/monitoring/smartctl-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

update smartctl dashboard
  clusters/dextek/system/monitoring/smartctl-exporter/app/dashboard.json
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml schema URLs to use main
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
  clusters/dextek/apps/auth/lldap/app/helmrelease.yaml
  clusters/dextek/apps/default/atuin/app/helmrelease.yaml
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/default/cyberchef/helmrelease.yaml
  clusters/dextek/apps/default/doplarr/helmrelease.yaml
  clusters/dextek/apps/default/echo-server/app/helmrelease.yaml
  clusters/dextek/apps/default/evobot/helmrelease.yaml
  clusters/dextek/apps/default/firefly/app/helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
  clusters/dextek/apps/default/jdownloader/app/helmrelease.yaml
  clusters/dextek/apps/default/kubernetes-schemas/app/helmrelease.yaml
  clusters/dextek/apps/default/maintainerr/app/helmrelease.yaml
  clusters/dextek/apps/default/mealie/app/helmrelease.yaml
  clusters/dextek/apps/default/media-browser/helmrelease.yaml
  clusters/dextek/apps/default/ntfy/app/helmrelease.yaml
  clusters/dextek/apps/default/obsidian-couchdb/app/helmrelease.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/default/theme-park/helmrelease.yaml
  clusters/dextek/apps/default/unifi-controller/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/recyclarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/games/satisfactory/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/kube-system/k8s-ycl/app/helmrelease.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  clusters/dextek/system/monitoring/graphite-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/nut-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/unpoller/app/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml schema URLs to use main
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
  clusters/dextek/apps/auth/lldap/app/helmrelease.yaml
  clusters/dextek/apps/default/atuin/app/helmrelease.yaml
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/default/cyberchef/helmrelease.yaml
  clusters/dextek/apps/default/doplarr/helmrelease.yaml
  clusters/dextek/apps/default/echo-server/app/helmrelease.yaml
  clusters/dextek/apps/default/evobot/helmrelease.yaml
  clusters/dextek/apps/default/firefly/app/helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
  clusters/dextek/apps/default/jdownloader/app/helmrelease.yaml
  clusters/dextek/apps/default/kubernetes-schemas/app/helmrelease.yaml
  clusters/dextek/apps/default/maintainerr/app/helmrelease.yaml
  clusters/dextek/apps/default/mealie/app/helmrelease.yaml
  clusters/dextek/apps/default/media-browser/helmrelease.yaml
  clusters/dextek/apps/default/ntfy/app/helmrelease.yaml
  clusters/dextek/apps/default/obsidian-couchdb/app/helmrelease.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/default/theme-park/helmrelease.yaml
  clusters/dextek/apps/default/unifi-controller/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/recyclarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/games/satisfactory/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/kube-system/k8s-ycl/app/helmrelease.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  clusters/dextek/system/monitoring/graphite-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/nut-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/unpoller/app/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml schema URLs to use main
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
  clusters/dextek/apps/auth/lldap/app/helmrelease.yaml
  clusters/dextek/apps/default/atuin/app/helmrelease.yaml
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/default/cyberchef/helmrelease.yaml
  clusters/dextek/apps/default/doplarr/helmrelease.yaml
  clusters/dextek/apps/default/echo-server/app/helmrelease.yaml
  clusters/dextek/apps/default/evobot/helmrelease.yaml
  clusters/dextek/apps/default/firefly/app/helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
  clusters/dextek/apps/default/jdownloader/app/helmrelease.yaml
  clusters/dextek/apps/default/kubernetes-schemas/app/helmrelease.yaml
  clusters/dextek/apps/default/maintainerr/app/helmrelease.yaml
  clusters/dextek/apps/default/mealie/app/helmrelease.yaml
  clusters/dextek/apps/default/media-browser/helmrelease.yaml
  clusters/dextek/apps/default/ntfy/app/helmrelease.yaml
  clusters/dextek/apps/default/obsidian-couchdb/app/helmrelease.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/default/theme-park/helmrelease.yaml
  clusters/dextek/apps/default/unifi-controller/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/recyclarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/games/satisfactory/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/kube-system/k8s-ycl/app/helmrelease.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  clusters/dextek/system/monitoring/graphite-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/nut-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/unpoller/app/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update helmrelease.yaml schema URLs to use main
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
  clusters/dextek/apps/auth/lldap/app/helmrelease.yaml
  clusters/dextek/apps/default/atuin/app/helmrelease.yaml
  clusters/dextek/apps/default/bazarr/app/helmrelease.yaml
  clusters/dextek/apps/default/cyberchef/helmrelease.yaml
  clusters/dextek/apps/default/doplarr/helmrelease.yaml
  clusters/dextek/apps/default/echo-server/app/helmrelease.yaml
  clusters/dextek/apps/default/evobot/helmrelease.yaml
  clusters/dextek/apps/default/firefly/app/helmrelease.yaml
  clusters/dextek/apps/default/home-assistant/app/helmrelease.yaml
  clusters/dextek/apps/default/homepage/app/helmrelease.yaml
  clusters/dextek/apps/default/jdownloader/app/helmrelease.yaml
  clusters/dextek/apps/default/kubernetes-schemas/app/helmrelease.yaml
  clusters/dextek/apps/default/maintainerr/app/helmrelease.yaml
  clusters/dextek/apps/default/mealie/app/helmrelease.yaml
  clusters/dextek/apps/default/media-browser/helmrelease.yaml
  clusters/dextek/apps/default/ntfy/app/helmrelease.yaml
  clusters/dextek/apps/default/obsidian-couchdb/app/helmrelease.yaml
  clusters/dextek/apps/default/overseerr/app/helmrelease.yaml
  clusters/dextek/apps/default/plex/app/helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
  clusters/dextek/apps/default/theme-park/helmrelease.yaml
  clusters/dextek/apps/default/unifi-controller/app/helmrelease.yaml
  clusters/dextek/apps/downloads/prowlarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/qbittorrent/app/helmrelease.yaml
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/recyclarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sabnzbd/app/helmrelease.yaml
  clusters/dextek/apps/downloads/sonarr/app/helmrelease.yaml
  clusters/dextek/apps/downloads/whisparr/app/helmrelease.yaml
  clusters/dextek/apps/games/satisfactory/helmrelease.yaml
  clusters/dextek/apps/immich/app/helmrelease.yaml
  clusters/dextek/system/kube-system/k8s-ycl/app/helmrelease.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  clusters/dextek/system/monitoring/graphite-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/nut-exporter/app/helmrelease.yaml
  clusters/dextek/system/monitoring/unpoller/app/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/agent/helmrelease.yaml
  clusters/dextek/system/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update cloudflare provider version to 3.4.2
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Update cloudflare provider version to 3.4.2
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Update cloudflare provider version to 3.4.2
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

Update cloudflare provider version to 3.4.2
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/providers.tf
Labels: area/terraform

fix: update authelia to v4.38.0
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: update authelia to v4.38.0
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: update authelia to v4.38.0
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: update authelia to v4.38.0
  clusters/dextek/apps/auth/authelia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Refactor GitHub workflow to use matrix instead of JSON
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

Add images to step summary
  .github/workflows/flux-image-test.yaml
Labels: area/github

Update changed-files action version
  .github/workflows/flux-image-test.yaml
Labels: area/github

update configuration
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
  clusters/jotunheim/apps/default/tftpd/app/helmrelease.yaml
  clusters/jotunheim/apps/default/zot/app/helmrelease.yaml
Labels: area/kubernetes, cluster/jotunheim

fix gh workflow
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix gh workflow
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix gh workflow
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix gh workflow
  .github/workflows/flux-image-test.yaml
Labels: area/github

Update Radarr image tag to 5.2.6.8376
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Radarr image tag to 5.2.6.8376
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Radarr image tag to 5.2.6.8376
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Radarr image tag to 5.2.6.8376
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update memory limit for Radarr app
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update memory limit for Radarr app
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update memory limit for Radarr app
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update memory limit for Radarr app
  clusters/dextek/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(github-release): update kubernetes/kubernetes ( v1.29.2 → v1.29.3…"
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(github-release): update kubernetes/kubernetes ( v1.29.2 → v1.29.3…" (#64)
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(github-release): update kubernetes/kubernetes ( v1.29.2 → v1.29.3…" (#64)
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(github-release): update kubernetes/kubernetes ( v1.29.2 → v1.29.3…" (#64)
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(github-release): update kubernetes/kubernetes ( v1.29.2 → v1.29.3…" (#64)
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Remove Karma
  clusters/dextek/system/monitoring/karma/app/config/config.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/kustomization.yaml
  clusters/dextek/system/monitoring/karma/ks.yaml
  clusters/dextek/system/monitoring/karma/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Remove Karma
  clusters/dextek/system/monitoring/karma/app/config/config.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/kustomization.yaml
  clusters/dextek/system/monitoring/karma/ks.yaml
  clusters/dextek/system/monitoring/karma/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

Remove Karma
  clusters/dextek/system/monitoring/karma/app/config/config.yaml
  clusters/dextek/system/monitoring/karma/app/helmrelease.yaml
  clusters/dextek/system/monitoring/karma/app/kustomization.yaml
  clusters/dextek/system/monitoring/karma/ks.yaml
  clusters/dextek/system/monitoring/karma/kustomization.yaml
  clusters/dextek/system/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/dextek

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
