Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

format
  infrastructure/terraform/talos/variables.tf
Labels: area/terraform

update cnpg cluster serverName to cnpg-v17
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

update cnpg cluster serverName to cnpg-v17
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

update cnpg cluster serverName to cnpg-v17
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

update cnpg cluster serverName to cnpg-v17
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

revert k8s upgrade
  .taskfiles/Bootstrap/Tasks.yaml
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/app/helmrelease.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/ks.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

revert k8s upgrade
  .taskfiles/Bootstrap/Tasks.yaml
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/app/helmrelease.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/ks.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

revert k8s upgrade
  .taskfiles/Bootstrap/Tasks.yaml
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/app/helmrelease.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/ks.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

revert k8s upgrade
  .taskfiles/Bootstrap/Tasks.yaml
  .taskfiles/Talos/Tasks.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/app/helmrelease.yaml
  clusters/dextek/system/kube-system/system-upgrade-controller/ks.yaml
  clusters/dextek/system/kube-system/talup/app/helmrelease.yaml
  infrastructure/terraform/talos/talosPatches/config-patch.yaml
  infrastructure/terraform/talos/variables.tf
Labels: area/kubernetes, area/taskfile, area/terraform, cluster/dextek

Revert "fix(helm): update cilium ( 1.15.4 → 1.15.5 ) (#457)"
  clusters/dextek/bootstrap/cilium/kustomization.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cilium ( 1.15.4 → 1.15.5 ) (#457)" (#462)
  clusters/dextek/bootstrap/cilium/kustomization.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cilium ( 1.15.4 → 1.15.5 ) (#457)" (#462)
  clusters/dextek/bootstrap/cilium/kustomization.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cilium ( 1.15.4 → 1.15.5 ) (#457)" (#462)
  clusters/dextek/bootstrap/cilium/kustomization.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update cilium ( 1.15.4 → 1.15.5 ) (#457)" (#462)
  clusters/dextek/bootstrap/cilium/kustomization.yaml
  clusters/dextek/system/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

downgrade kubelet-csr-approver
  clusters/dextek/bootstrap/kubelet-csr-approver/kustomization.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
  clusters/dextek/system/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

downgrade kubelet-csr-approver
  clusters/dextek/bootstrap/kubelet-csr-approver/kustomization.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
  clusters/dextek/system/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

downgrade kubelet-csr-approver
  clusters/dextek/bootstrap/kubelet-csr-approver/kustomization.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
  clusters/dextek/system/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

downgrade kubelet-csr-approver
  clusters/dextek/bootstrap/kubelet-csr-approver/kustomization.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
  clusters/dextek/system/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  infrastructure/terraform/talos/main.tf
Labels: area/kubernetes, area/terraform, cluster/dextek

chore: update providerRegex in kubelet-csr-approver/values.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
Labels: area/kubernetes, cluster/dextek

chore: update providerRegex in kubelet-csr-approver/values.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
Labels: area/kubernetes, cluster/dextek

chore: update providerRegex in kubelet-csr-approver/values.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
Labels: area/kubernetes, cluster/dextek

chore: update providerRegex in kubelet-csr-approver/values.yaml
  clusters/dextek/bootstrap/kubelet-csr-approver/values.yaml
Labels: area/kubernetes, cluster/dextek

chore: update Talos reset commands for ms01-01, ms01-02, and ms01-03
  .taskfiles/Talos/Tasks.yaml
Labels: area/taskfile

chore: update Talos reset commands for ms01-01, ms01-02, and ms01-03
  .taskfiles/Talos/Tasks.yaml
Labels: area/taskfile

chore: update Talos reset commands for ms01-01, ms01-02, and ms01-03
  .taskfiles/Talos/Tasks.yaml
Labels: area/taskfile

chore: update Talos reset commands for ms01-01, ms01-02, and ms01-03
  .taskfiles/Talos/Tasks.yaml
Labels: area/taskfile

Update HelmRelease apiVersion to v2 in extract-images.mjs and helmrelease.yaml files
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/flux-system/capacitor/app/helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  clusters/jotunheim/apps/cert-manager/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
  clusters/jotunheim/apps/default/tftpd/app/helmrelease.yaml
  clusters/jotunheim/apps/default/zot/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek, cluster/jotunheim

Update HelmRelease apiVersion to v2 in extract-images.mjs and helmrelease.yaml files
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/flux-system/capacitor/app/helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  clusters/jotunheim/apps/cert-manager/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
  clusters/jotunheim/apps/default/tftpd/app/helmrelease.yaml
  clusters/jotunheim/apps/default/zot/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek, cluster/jotunheim

Update HelmRelease apiVersion to v2 in extract-images.mjs and helmrelease.yaml files
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/flux-system/capacitor/app/helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  clusters/jotunheim/apps/cert-manager/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
  clusters/jotunheim/apps/default/tftpd/app/helmrelease.yaml
  clusters/jotunheim/apps/default/zot/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek, cluster/jotunheim

Update HelmRelease apiVersion to v2 in extract-images.mjs and helmrelease.yaml files
  .github/scripts/extract-images.mjs
  clusters/dextek/apps/flux-system/capacitor/app/helmrelease.yaml
  clusters/dextek/system/kube-system/spegel/app/helmrelease.yaml
  clusters/dextek/system/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
  clusters/jotunheim/apps/cert-manager/app/helmrelease.yaml
  clusters/jotunheim/apps/default/minio/app/helmrelease.yaml
  clusters/jotunheim/apps/default/tftpd/app/helmrelease.yaml
  clusters/jotunheim/apps/default/zot/app/helmrelease.yaml
  clusters/jotunheim/apps/ingress-nginx/app/helmrelease.yaml
  clusters/jotunheim/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/dextek, cluster/jotunheim

test
  clusters/dextek/system/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/system/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/system/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

test
  clusters/dextek/system/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

rename all taskfiles
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

rename all taskfiles
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

rename all taskfiles
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

rename all taskfiles
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

chore: Update variable name in Taskfile.yaml
  .taskfiles/Bootstrap/Taskfile.yaml
Labels: area/taskfile

chore: Update variable name in Taskfile.yaml
  .taskfiles/Bootstrap/Taskfile.yaml
Labels: area/taskfile

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
