Repository krezh/dextek, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/dextek, cluster/jotunheim

Update cnpg cluster serverName from cnpg-v15 to cnpg-v16
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v15 to cnpg-v16
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v15 to cnpg-v16
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

Update cnpg cluster serverName from cnpg-v15 to cnpg-v16
  clusters/dextek/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes, cluster/dextek

fix
  clusters/dextek/system/ingress-nginx/certificates/default-cert.yaml
Labels: area/kubernetes, cluster/dextek

fix
  clusters/dextek/system/ingress-nginx/certificates/default-cert.yaml
Labels: area/kubernetes, cluster/dextek

fix
  clusters/dextek/system/ingress-nginx/certificates/default-cert.yaml
Labels: area/kubernetes, cluster/dextek

fix
  clusters/dextek/system/ingress-nginx/certificates/default-cert.yaml
Labels: area/kubernetes, cluster/dextek

add i915-ucode extension
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

add i915-ucode extension
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

add i915-ucode extension
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

add i915-ucode extension
  clusters/dextek/system/kube-system/talup/app/config.yaml
  infrastructure/terraform/talos/extensions.yaml
Labels: area/kubernetes, area/terraform, cluster/dextek

Update talos-upgrade.sh to use a new image version
  hack/talos-upgrade.sh
Labels: none

Update talos-upgrade.sh to use a new image version
  hack/talos-upgrade.sh
Labels: none

Update talos-upgrade.sh to use a new image version
  hack/talos-upgrade.sh
Labels: none

Update talos-upgrade.sh to use a new image version
  hack/talos-upgrade.sh
Labels: none

Revert "fix(helm): update loki ( 6.3.2 → 6.3.3 ) (#320)"
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update loki ( 6.3.2 → 6.3.3 ) (#320)" (#322)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update loki ( 6.3.2 → 6.3.3 ) (#320)" (#322)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update loki ( 6.3.2 → 6.3.3 ) (#320)" (#322)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix(helm): update loki ( 6.3.2 → 6.3.3 ) (#320)" (#322)
  clusters/dextek/system/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: use upstream image
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: use upstream image
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: use upstream image
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

fix: use upstream image
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix: use upstream image"
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix: use upstream image"
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix: use upstream image"
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Revert "fix: use upstream image"
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli image and command in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli image and command in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli image and command in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli image and command in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli probes in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli probes in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli probes in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Tautulli probes in helmrelease.yaml
  clusters/dextek/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes, cluster/dextek

Update Docker step to inspect image instead of pulling
  .github/workflows/flux-image-test.yaml
Labels: area/github

Update Docker step to inspect image instead of pulling
  .github/workflows/flux-image-test.yaml
Labels: area/github

Update Docker step to inspect image instead of pulling
  .github/workflows/flux-image-test.yaml
Labels: area/github

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: clusters/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: infrastructure/terraform/**/*
# Cluster
cluster/dextek:
  - changed-files:
      - any-glob-to-any-file: clusters/dextek/**/*
      - any-glob-to-any-file: infrastructure/terraform/dextek/**/*
cluster/jotunheim:
  - changed-files:
      - any-glob-to-any-file: clusters/jotunheim/**/*
      - any-glob-to-any-file: infrastructure/terraform/jotunheim/**/*
